body {
  font-family: "tiffin-latin-variable", sans-serif;
   background: transparent;
    width: 100%;
    max-width: 130ch;
    /* Cambia 600px al ancho que prefieras */
    margin: 0 auto;
    height: auto;
   font-size: large;
    padding: 2em;
}
.pleca {
    background-color: #4245f9;
    width: 120vw;
    height: 90px;
    margin-left: calc(-50vw + 50%);
    display: flex;
    align-items: center;
}


h1 {
    margin: 0px;
    padding-left: 2em;
    color: #d9ff00;
}

#video-yo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 950px;
    height: auto;
}